p{
    color: red;
}
.Cow{
    color:blue;
    font-size: 20px;

}
#p {
    color: green;
    font-weight: bold;

}
#cow{
    color: black;
    background-color: gray;
    font-size: 30px;
}
p{ 
    border: 10px solid seagreen;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    width: 30%;
    display: inline-block;

}
.Cow{
    text-align: center;
}
